<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside>
        <ol class="list-group  nav-color">
          <li class="list-group-item  nav-color">
            <details>
              <summary>Getting started</summary>
              <ol class="list-group nav-color">
                <li class="list-group-item  nav-color">
                  <a href="/GettingStarted/GettingStartedInWebDesign.html " 
                    >Getting started in Web Design</a
                  >
                </li>
                <li class="list-group-item  nav-color">
                  <a href="/GettingStarted/HowTheWebWorks.html"
                    >How the Web Works</a
                  >
                </li>
                <li class="list-group-item  nav-color">
                  <a href="/GettingStarted/ConceptsYouNeedToKnow.html"
                    >Some Big Concepts You Need to Know</a
                  >
                </li>
              </ol>
            </details>
          </li>
          <li class="list-group-item  nav-color">
            <details>
              <summary>HTML For Structure</summary>
              <ol class="list-group  nav-color">
                <li class="list-group-item  nav-color">
                  <a href="HTMLStructure/StructuralTags.html"
                    >Structural Tags</a
                  >
                </li>
                <li class="list-group-item  nav-color">
                  <a href="HTMLStructure/TextContentTags.html"
                    >Text Content Tags</a
                  >
                </li>
                <li class="list-group-item  nav-color">
                  <a href="HTMLStructure/ListTags.html">List Tags</a>
                </li>
                <li class="list-group-item  nav-color"> 
                  <a href="HTMLStructure/FormTags.html">Form Tags</a>
                </li>
                <li class="list-group-item  nav-color">
                  <a href="HTMLStructure/InteractiveTags.html"
                    >Interactive Tags</a
                  >
                </li>
                <li class="list-group-item  nav-color">
                  <a href="HTMLStructure/MediaTags.html">Media Tags</a>
                </li>
                <li class="list-group-item  nav-color">
                  <a href="HTMLStructure/TableTags.html">Table Tags</a>
                </li>
                <li class="list-group-item  nav-color">
                  <a href="HTMLStructure/ScriptingTags.html"
                    >Scripting Tags</a
                  >
                </li>
                <li class="list-group-item nav-color">
                  <a href="HTMLStructure/LinkTags.html">Link Tags</a>
                </li>
                <li class="list-group-item nav-color">
                  <a href="HTMLStructure/MetaTags.html">Meta Tags</a>
                </li>
                <li class="list-group-item nav-color">
                  <a href="HTMLStructure/MiscellaneousTags.html"
                    >Miscellaneous Tags</a
                  >
                </li>
              </ol>
            </details>
          </li>
          <li class="list-group-item nav-color">
            <details>
              <summary>Test Yourself</summary>
              <ol class="list-group nav-color">
                <li class="list-group-item nav-color">Testi nr 1</li>
              </ol>
            </details>
          </li>
        </ol>
      </aside>
</body>
</html>